# Python cache and environment files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.python-version

# Virtual environment
.venv/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit secrets and config
.secrets.toml
